body
{
font-family:"Times New Roman", serif;
margin-right:30px;
margin-left:3.5%;
}
a
{
text-decoration:none;
color:inherit;
}
img
{
max-width:100%;
max-height:100%;
vertical-align:middle;
}
sup
{
vertical-align:0.4em;
font-size:65%;
}
sub
{
vertical-align:-0.3em;
font-size:65%;
}
table
{
margin-top:0.5em;
margin-bottom:0.5em;
border-collapse: collapse;
width:100%;
}
td
{
border-collapse: collapse;
vertical-align: top;
padding:0.2em;
}
.hide
{
display:none;
visibility:hidden;
}
.image
{
margin-top:1em;
margin-bottom:1em;
text-align:left;
}
.imagec
{
margin-top:1em;
margin-bottom:1em;
text-align:center;
}
.title
{
text-align:center;
margin-top:0;
text-indent:0em;
margin-bottom:0em;
font-weight:normal;
}
.caption
{
font-family:"Arial", sans-serif;
font-size:0.83em;
text-align:left;
margin-top:1em;
text-indent:0em;
margin-bottom:1.5em;
margin-left:0em;
font-weight:normal;
}
.caption1
{
font-family:"Arial", sans-serif;
font-size:0.83em;
text-align:left;
margin-top:1em;
text-indent:0em;
margin-bottom:0.5em;
margin-left:0em;
font-weight:normal;
}
.copyright
{
font-family:"Arial", sans-serif;
font-size:0.8em;
text-align:left;
margin-top:0em;
margin-left:0em;
margin-right:8em;
text-indent:0em;
margin-bottom:0em;
font-weight:normal;
}
.copyright4
{
font-family:"Arial", sans-serif;
font-size:0.8em;
text-align:left;
margin-top:10em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
margin-bottom:0.5em;
font-weight:normal;
}
.copyright1
{
font-family:"Arial", sans-serif;
font-size:0.8em;
text-align:left;
margin-top:1em;
margin-left:0em;
text-indent:0em;
margin-bottom:0.3em;
font-weight:normal;
}
.toc
{
font-family:"Arial", sans-serif;
font-size:0.83em;
text-align:left;
margin-top:0em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
font-weight:normal;
}
.toca
{
font-family:"Arial", sans-serif;
font-size:0.83em;
text-align:left;
margin-top:0.4em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
font-weight:normal;
}
.h2c
{
font-family:"Arial", sans-serif;
font-size:1.3em;
text-align:left;
margin-top:1.5em;
margin-left:0em;
text-indent:0em;
margin-bottom:3.5em;
font-style:normal;
font-weight:bold;
}
.para
{
font-family:"Arial", sans-serif;
font-size:0.83em;
text-align:left;
margin-top:0em;
text-indent:0em;
margin-bottom:0.5em;
margin-left:0em;
font-weight:normal;
}
.parat
{
font-family:"Arial", sans-serif;
font-size:0.83em;
text-align:left;
margin-top:0em;
text-indent:0em;
margin-bottom:0em;
margin-left:0em;
font-weight:normal;
}
.parat1
{
font-family:"Arial", sans-serif;
font-size:0.83em;
text-align:left;
margin-top:1em;
text-indent:0em;
margin-bottom:0em;
margin-left:0em;
font-weight:normal;
}
.parat2
{
font-family:"Arial", sans-serif;
font-size:0.83em;
text-align:left;
margin-top:0.5em;
text-indent:0em;
margin-bottom:0em;
margin-left:0em;
font-weight:normal;
}
.para1
{
font-family:"Arial", sans-serif;
font-size:0.83em;
text-align:left;
margin-top:1em;
text-indent:0em;
margin-bottom:0em;
margin-left:0em;
font-weight:normal;
}
.paraa
{
font-family:"Arial", sans-serif;
font-size:0.83em;
text-align:left;
margin-top:0em;
text-indent:0em;
margin-bottom:0.2em;
margin-left:0em;
font-weight:normal;
}
.table
{
font-family:"Arial", sans-serif;
font-size:0.83em;
text-align:left;
margin-top:0em;
text-indent:0em;
margin-bottom:0.2em;
margin-left:0em;
}
.tab-r
{
font-family:"Arial", sans-serif;
font-size:0.83em;
text-align:left;
margin-top:0em;
text-indent:0em;
margin-bottom:0.2em;
margin-left:0em;
}
.tablec
{
font-family:"Arial", sans-serif;
font-size:0.83em;
text-align:center;
margin-top:0em;
text-indent:0em;
margin-bottom:0.2em;
margin-left:0em;
}
.tablea
{
font-family:"Arial", sans-serif;
font-size:1em;
text-align:left;
margin-top:0.4em;
text-indent:0em;
margin-bottom:0.1em;
margin-left:0em;
}
.hang
{
font-family:"Arial", sans-serif;
font-size:0.83em;
text-align:left;
margin-top:0em;
text-indent:-0.8em;
margin-bottom:0.5em;
margin-left:0.8em;
font-weight:normal;
}
.h3
{
font-family:"Arial", sans-serif;
font-size:1em;
text-align:left;
margin-top:1.5em;
margin-left:0em;
text-indent:0em;
margin-bottom:0.8em;
font-style:normal;
font-weight:normal;
}
.h3a
{
font-family:"Arial", sans-serif;
font-size:0.82em;
text-align:left;
margin-top:1.2em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
font-style:normal;
font-weight:normal;
}
.h3ab
{
font-family:"Arial", sans-serif;
font-size:0.82em;
text-align:left;
margin-top:1.2em;
margin-left:0em;
text-indent:0em;
margin-bottom:2em;
font-style:normal;
}
.h3b
{
font-family:"Arial", sans-serif;
font-size:0.82em;
text-align:left;
margin-top:1.2em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
font-style:normal;
}
.tfoot
{
font-family:"Arial", sans-serif;
font-size:0.80em;
text-align:left;
margin-top:0em;
text-indent:0em;
margin-bottom:0.5em;
margin-left:0em;
}
div.nobreak
{
page-break-inside:avoid;
margin-left:0em;
}
div.pagebreak
{
page-break-before:always;
}

.tocl
{
font-family:"Arial", sans-serif;
font-size:0.83em;
text-align:left;
margin-top:0.5em;
margin-left:0.2em;
text-indent:0em;
margin-bottom:0.3em;
font-weight:normal;
}
span.ama
{
background-color:#000000;
color:#fff;
padding:0.2em;
}
span.ama1
{
background-color:#000000;
color:#fff;
padding-left:0.2em;
padding-right:0.1em;
padding-top:0.1em;
padding-bottom:0.1em;
font-weight:bold;
}
.parah
{
font-family:"Arial", sans-serif;
font-size:0.90em;
text-align:left;
margin-top:0.5em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
font-style:normal;
font-weight:normal;
}
.parah1
{
font-family:"Arial", sans-serif;
font-size:0.82em;
text-align:left;
margin-top:0.5em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
font-style:normal;
font-weight:normal;
}
table.tab1
{
margin-top:0.5em;
border-bottom: solid 0.1em;
border-top: solid 0.1em;
margin-bottom:0.5em;
border-collapse: collapse;
}
td.tb
{
border-bottom: solid 0.1em;
}
td.b
{
border-bottom: solid 0.1em;
}
td.t
{
border-top: solid 0.1em;
}
div.ml
{
margin-top:0em;
text-indent:0em;
margin-left:5.8em;
}
div.ml1
{
margin-top:0em;
text-indent:0em;
margin-left:4.8em;
}
div.ml2
{
margin-top:0em;
text-indent:0em;
margin-left:3.5em;
}
.bmtit
{
font-family:"Arial", sans-serif;
font-size:0.82em;
text-align:left;
margin-top:1em;
margin-left:0em;
text-indent:0em;
margin-bottom:0.5em;
font-style:normal;
}
p.head1
{
font-family:"Arial", sans-serif;
font-size:1em;
text-align:left;
margin-top:0.5em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
font-style:normal;
font-weight:normal;
}
p.head2
{
font-family:"Arial", sans-serif;
font-size:0.82em;
text-align:left;
margin-top:0.5em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
font-style:normal;
font-weight:normal;
}
p.head3
{
font-family:"Arial", sans-serif;
font-size:0.83em;
text-align:left;
margin-top:0.5em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
font-style:normal;
font-weight:normal;
}
.parai
{
font-family:"Arial", sans-serif;
font-size:0.83em;
text-align:left;
margin-top:0em;
text-indent:0em;
margin-bottom:0.5em;
margin-left:1em;
font-weight:normal;
}
.fn
{
font-family:"Arial", sans-serif;
font-size:0.78em;
text-align:left;
margin-top:0em;
text-indent:-0.8em;
margin-bottom:0.5em;
margin-left:0.8em;
font-weight:normal;
}
